node_modules
**/node_modules
.git
.turbo
**/.turbo
coverage
**/coverage
qa-results
scratch_qa
.env
.env.*
!.env.example
!.env.test.example
*.tsbuildinfo
.next
**/.next
dist
**/dist
dist-widget
**/dist-widget
dist-loader
**/dist-loader
docs
k8s
helm
*.md
!README.md
